name: ci

on:
  push:
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          components: clippy

      - name: Run tests
        run: cargo test --all-targets

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
